annotated-doc==0.0.4
anyio==4.12.1
av==16.1.0
certifi==2026.2.25
click==8.3.1
colorama==0.4.6
ctranslate2==4.7.1
faster-whisper==1.2.1
ffmpeg-python==0.2.0
filelock==3.25.0
flatbuffers==25.12.19
fsspec==2026.2.0
future==1.0.0
h11==0.16.0
hf-xet==1.3.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.6.0
idna==3.11
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.2
onnxruntime==1.24.3
pillow==12.0.0
protobuf==7.34.0
Pygments==2.19.2
PyYAML==6.0.3
rich==14.3.3
shellingham==1.5.4
sympy==1.14.0
tokenizers==0.22.2
torch==2.10.0
torchvision==0.25.0+cu126
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
yt-dlp==2026.3.3
